.container{
    height: 400px;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
  }
  
  .slide-item{
    width: 80%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    transition: transform 0.2s ease-in-out;
  }
  .slide-item:hover{
    transform: scale(1.05);
    cursor: pointer;
  }