*{
    box-sizing: border-box;
}
html, body{
    height: min-content;
    margin: 0;
}
.main-content{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main{
    flex: 1;
}
footer {
    padding: 1rem;
}