.eventos {
  padding: 20px;
  display: flex;
  flex-direction: column;
}


.titulo {
  color: #a93226;
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.descricao {
  color: #4A4A4A;
  text-align: left;
  font-size: 16px;
  margin-bottom: 20px;
}

.caixa-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 20px;
  position: relative;
}

.caixas {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  gap: 20px;
}

.caixa {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  align-items: center;
}

.amarela {
  background-color: #ffd700;
}

.vermelha {
  background-color: #a93226;
}

.laranja {
  background-color: #ff8c00;
}

.azul {
  background-color: #1e90ff;
}

.azul-claro {
  background-color: #00bfff;
}

.botao {
  padding: 10px 20px;
  font-size: 18px;
  width: 250px;
  height: 60px;
  color: #fff;
  background-color: #00bfff;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.botao:hover {
  background-color: #007acc;
}